* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #555555;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainScreen {
    width: 100%;
    height: 100%;
    border: 4px solid black;
}

#warning {
    display: none;
}